// Place all the styles related to the Signups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	width: 940px; 
}


/******************* Header *******************/
.header {
  height: 800px;
  text-align: center;
  background: url("http://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -250px;
}

.header .container {
	position: relative;
	top: 200px;
}

.header h1 {
	font-size: 120px;  
	line-height: 100px; 
	margin-top: 0;
	margin-bottom: 80px;
	color: white;
	text-transform: uppercase;
}

.header p {
	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
	color: white;
	text-transform: uppercase;
}

.btn {
    color: white;
    background: black;
    text-decoration: none;
    padding: 10px 40px;
}

.btn:hover {
	background: transparent;
	cursor: pointer; 
	transition: background .5s;  
}


/******************* Nav *******************/
.nav {
    background: black;
}

.nav a {
    text-decoration: none;
}

.nav ul {
	list-style: none;
	margin: 0 auto; 
	padding: 0;
	text-align: center;
}

.nav li {
    display: inline;
    color: white;
}


/******************* Main *******************/
.main img {
    height: 200px;
    width: 200px;
    padding: 0px 80px 0px 0px;
    float: left;
}

.main .container {
	margin: 80px auto;
}


/******************* Jumbotron *******************/
.jumbotron {
	height: 600px; 
	text-align: right;
	background: url(http://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/jumbotron_bg.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -150px;
}

.jumbotron .container {
	position: relative;
	top: 220px;
}

.jumbotron h1 {
    color: white;
    font-size: 25px;
}

.jumbotron p {
    color: white;
    margin-bottom: 30px;
}

/******************* Footer *******************/
.footer { 
	font-size: 14px;
	background: black;
	padding: 20px;
	color: white;
}